@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

* {
    /* border: double black 1px ; */
}

@font-face {
    font-family: 'PlaywriteITModerna-Regular';
    src: url('../public/PlaywriteITModerna-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@keyframes draw {
    from {
        stroke-dashoffset: 1058;  /* Adjust this value based on the length of the path */
    }
    to {
        stroke-dashoffset: 0;
    }
}

#tt {
    font-family: 'PlaywriteITModerna-Regular', sans-serif;
  }


#moving-grid {
    /* Defining a 20px block size for the grid */
    /* background: repeating-linear-gradient(
                transparent,
                transparent 39px,
                #d1d5db 39px,
                #d1d5db 40px,
                transparent 40px
            ),
            repeating-linear-gradient(
                90deg,
                transparent,
                transparent 3.1%,
                #d1d5db 3.1%,
                #d1d5db 3.2%,
                transparent 3.2%
            ); /* Set the size of the grid cells */
    /* animation: moveGrid 15s linear infinite; */
}

#moving-grid {
    background-image: url('../public/grid.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes moveGrid {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 800px 0px;
    }
}

#myPath {
    stroke: url(#a);
    stroke-width: 3;
    stroke-dasharray: 1000;  /* This value should match the total length of the path */
    stroke-dashoffset: 1000;  /* This should initially match stroke-dasharray */
    fill: none;
    animation: draw 15s forwards ;  /* Adjust time as needed */
    animation-delay: 500ms;
}

#tilt {
    transform: perspective(1000px) rotateY(-5deg);
    transition: all 1s ease-out;
    transition-duration: 5000ms;
  }
  
#tilt:hover {
    transform: perspective(1000px) rotateY(-15deg);
    transition-duration: 5000ms;
  }

#tilt2 {
    transform: perspective(1000px) rotateY(5deg);
    transition: all 1s ease-out;
    transition-duration: 5000ms;
  }
  
#tilt2:hover {
    transform: perspective(1000px) rotateY(15deg);
    transition-duration: 5000ms;
  }  